body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.clear {
    clear: both;
}

/*Nagłówek*/
header {
    background-color: #878787;
    padding: 5px 0;
    position: fixed;
    left:0;
    right:0;
    top:0;
    z-index: 1000;
    max-width: 1920px;
    margin: 0 auto;
}

.navigation {
    position: relative;
}

.nawigacja-funkcje{
    position: absolute;
    bottom: 0;
}

.punkt-nawigacji {
    position: absolute;
    bottom: 80px;
}

.container {
    width: 100%;
    text-align: center;
    max-width: 1920px;
    margin: 0 auto;
}

nav {
    float: right;
    margin-right: 10%;
}

nav li {
    display: inline-block;
    padding: 0 15px;
    width: auto;
    height: 30px;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}

nav li a:hover {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    border-bottom: solid 3px #640004;
    /*cursor: pointer;*/
}

.nav-clicked {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    border-bottom: solid 3px #8cc63f;
    pointer-events: none;
}

.logo-funplanner {
    float: left;
    color: #e7e7e7;
    font-weight: 400;
    font-size: 50px;
    margin-left: 10%;
}

span.logo-fun {
    font-weight: 700;
    font-size: 45px;
}

span.logo-ikon {
    color: #8cc63f;
}

/*Koniec nagłówka*/

main {
    background-color: white;
    display: inline;
}

/*Zajawka*/

.zajawka {
    position: relative;
    height: 600px;
    /*width: 100%;*/
    max-width: 1920px;
    margin: 0 auto;
}

.pod-zajawka {
    padding-top: 200px;
    height: 400px;
    width: 100%;
    background-size: cover;
    position: absolute;
    margin: 0 auto;
    text-align: center;
}

.zajawka-1 {
    background-image: url("../images/fota-glowna.jpeg");
    margin: 0 auto;
}

.zajawka-2 {
    background-image: url("../images/fota-glowna2.jpeg");
    margin: 0 auto;
}

.zajawka-3 {
    background-image: url("../images/fota-glowna3.jpeg");
    margin: 0 auto;
}

.container-zajaw {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    bottom: -70px;
    max-width: 1920px;
    margin: 0 auto;
}

.tekstzajawka {
    font-size: 90px;
    width: 100%;
    margin: auto;
    text-align: center;
    color: #f2f2f2;
    font-weight: 300;
}

span.tekstzajawka {
    font-size: 68px;
    font-weight: 700;
}

.tekstzajawka.male {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 120%;
}

.zajawka a {

    display: block;
    position: relative;
    text-align: center;
    margin: auto;
    top: 500px;
    width: 180px;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    /*height: 50px;*/
    background-color: #8cc63f;
    padding: 15px;
}

.zajawka a:hover {
    color: #e9e5ea;
}

.slider {
    width: 60px;
    height: 32px;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.slider i {
    color: #d6d6d6;
}

/*Koniec zajawki*/

/*Funkcje*/

.container-funkcje {
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1920px;
}

.title-function-h-elements {
    color: #8cc63f;
    margin-top: 35px;
    text-align: left;
    margin-left: 13%;
}

.functions-box {
    display: inline-block;
    width: 35%;
    color: #878787;
    padding: 20px 30px;
    vertical-align: top;
    text-align: justify;
}

.functions-ikona {
    float: left;
    width: 100px;
    margin-right: 40px;
    margin-bottom: 60px;
    padding-top: 20px;
    color: #8cc63f;
}

/*Koniec funkcji*/

/*ZESPOL*/

.team-names {
    font-weight: bold;
}

.team-box {
    color: #878787;
    width: 17%;
    display: inline-block;
    vertical-align: top;
    padding: 50px 20px;
    text-align: justify;
    margin: auto;
}

.team-fota {
    background-color: #ffffff;
    border: solid 2px #8cc63f;
    height: 200px;
    width: 200px;
    border-radius: 200px;
}

.team1 {
    background-image: url("http://static.srcdn.com/slir/w1000-h502-q90-c1000:502/wp-content/uploads/yoda1-e1446597216192.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -120px 0;
    margin: 0 auto;
}

.team2 {
    background-image: url("http://samequizy.pl/wp-content/uploads/2015/12/filing_images_f42d6f5f311f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -55px 0;
    margin: 0 auto;
}

.team3 {
    background-image: url("http://i.iplsc.com/star-wars/0004RX0450KTI3TY-C116-F4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -55px 0;
    margin: 0 auto;
}

.team4 {
    background-image: url("http://media.idownloadblog.com/wp-content/uploads/2015/04/Star-Wars-Stormtrooper-2048x2048-1024x1024.jpg ");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0 auto;
}

.hide {
    opacity: 0;
}

/*KONIEC ZESPOL*/

/*Formularz*/

.formularz {
    height: 350px;
    background-color: #878787;
    max-width: 1920px;
    margin: 0 auto;
}

.formularz form {
    width: 400px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    top: 23%;
    background-color: #5e5e5e;
}

.formularz form input {
    display: inline-block;
    padding: 15px;
    border: hidden;
    border-radius: 5px;
    font-size: large;
    font-weight: lighter;
    margin-right: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    height: 26px;
    width: 240px;
}

.formularz form button {
    padding: 15px;
    background-color: #e3e3e3;
    border: hidden;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    float: right;
}

.formularz form button:hover {
    background-color: #d6d6d6;
}

.tekstformularza {
    width: 500px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 22%;
    font-size: larger;
    line-height: 1.7;
    color: white;
    letter-spacing: 1px;
}

/*Koniec formularza*/

/*Stopka*/

.stopka {
    font-size: 80%;
    text-align: center;
    margin: 0 0 20px 0;
}

.fb-twit {
    width: 150px;
    margin: auto;
    padding: 40px;
}

.fb-twit i {
    font-size: 60px;
    color: #8cc63f;
    margin-right: 10px;
}

.fa-facebook {
    float: left;
}

.fa-twitter {
    float: right;
}

.logo-scrumboys {
    width: auto;
    height: 30px;
    vertical-align: -5px;
}
/*GRA*/

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #000;

}

.tableGra {
    position: relative;
    border-collapse: collapse;
    margin: auto;
}

.klient {
    background-color: #ff0000;
}

.barman {
    background-image: url("../barman.jpg");
    background-size: cover;
}

.piwo {
    background-image: url("../piwo.jpg");
    background-size: cover;
}

.score {
    background-color: #c0bcc1;
    position: absolute;
    top: 0;
    width: 200px;
    height: 30px;
    padding: 10px;
}

.apla-start {
    width: 1061px;
    height: 131px;
    background-color: #8cc63f;
    position: absolute;
    top: 0;
    text-align: center;
    padding-top: 400px;
}

.apla-loose {
    width: 1061px;
    height: 301px;
    background-color: #ff0000;
    position: absolute;
    top: 0;
    text-align: center;
    padding-top: 230px;
}

.apla-loose-finalscore {
    width: 300px;
    height: 150px;
    background-color: black;
    /*position: absolute;*/
    text-align: center;
    top: 200px;
    margin: 0 auto;
    color: white;

}