.kolor-zielony {
    background-color: #4CAF50;
    color: white
}
.kolor-szary {
    background-color: #F4F4F4;

}



body {
    margin:0;
    padding: 0;

}
img {
    margin:0;
    width: 100%;

}
nav{
    height: 80px;
    position: relative;
}
.menu {
    list-style-type: none;
    position: absolute;
    right: 50px;
}
.menu li {
    display: inline;
    float: left;

}
.menu li a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font: bold 20px arial;
    color: #4CAF50;
}