.kolor-zielony {
    background-color: #4CAF50;
    color: white
}
.kolor-szary {
    background-color: #F4F4F4;


}

.funkcje {
    -webkit-box-sizing: border-box;

}


body {
    margin:0;
    padding: 0;

}
header {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 10%;
}

.img {
    margin-left: 50px;
    float: left;
    height: 40px;
    width: 40px;

}
.foto {
    margin: 0;
    width: 100%;

}
nav{
    height: 80px;
    position: relative;
}
.menu {
    list-style-type: none;
    position: absolute;
    right: 50px;
}
.menu li {
    display: inline;
    float: left;

}
.menu li a {
    display: block;
    padding: 10px;
    margin:5px;
    text-align: center;
    text-decoration: none;
    font: bold 20px arial;
    color: #4CAF50;
    transition: transform 1s;
}
.menu li a:hover {
    transform: scale(1.1);
}